<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('@SetonoSyliusSchedulerPlugin/Admin/Job/Show/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@SetonoSyliusSchedulerPlugin/Admin/Job/Show/_breadcrumb.html.twig') %}

        {{ sonata_block_render_event(event_prefix ~ '.header', {'resource': resource}) }}
    </div>
</div>
